/* CSS files add styling rules to your content */

body {
  font-family: 'Brush Script MT', cursive;
  text-shadow: #191970 ;
  margin: 2,2em;
  background-color: #FFFAF0;
  color: #191970;
}

h1 {
  font-style: italic;
  color: #000000;
  font-family: verdana, arial, sans-serif; 

}


button{
  padding : 10px;
  border-radius : 10px;
  
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}
#button1{
  background-color: lightgreen;
}
#button1:active, #button1.lit{
  background-color: green;
}
#button2{
  background-color:lightblue;
}
#button2:active, #button2.lit{
  background-color: blue;
}
#button3{
    background-color: pink;
}
#button3:active, #button3.lit{
    background-color: red;
}

#button4{
    background-color: lightyellow;
}
#button4:active, #button4.lit{
    background-color:yellow;
}

#button5{
    background-color: lightred;
}
#button5:active, #button4.lit{
    background-color:red;
}
#button6{
    background-color: lightpurple;
}
#button6:active, #button4.lit{
    background-color:purple;
}

/* using the class to stop and stat button*/
.hidden{
  display: none;
}